body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #C0C0C0;
  font-size: 5.5rem;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;

}

h2{
  color: #;
  font-family: 'Montserrat';
  font-size: 280%;
}

h3 {
  color: black;
   font-family: 'Montserrat', sans-serif;
   font-size: 150%;
   text-align: center;

}

p {
  font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: dotted #F0F8FF 6px;
  border-bottom: none;
  width: 4;
}

.top-container {
  background-color: #800080;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #614051;
}

.bottom-container {
background-color: #808080;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.student {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.code-img {
  width: 30%;

}

.chilli-img {
  width: 25%;
}

.code-skill-description{
  font-size: 128%;

}
.image{
  border-radius: 550%;
  width: 300px;
}
.code-image{
  width: 20%;
  float: left;
  margin-right: 30px;
}
.code-image2
{
  width: 20%;
  margin-right: 30px;
  float: right;

}
.code-skill-description{
  clear: left;
}
.code-description2{
  clear: right;
}
